.user-name {
    color: var(--primary-color);
}

.time {
    color: var(--secondary-color);
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
}

#comment-actions {
    margin-top: 5px;
}

#comment-actions div {
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
}

#comment-actions div:not(:first-child) {
    margin-left: 10px;
}

.likes {
    margin-top: 2px;
}



.comment {
    margin-top: 5px;
}

.child-comment #image-div>img {
    height: 40px;
}